@import "tailwindcss";

.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible {
  outline: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
